body {
    font-family: Arial;
    padding: 0%;
    margin: 0%;
  }

  input{
    background-color: #D7E9F8;
  }
  
  .container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    background-color: #13294B;
    color: white;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

  span{
    color: #007bff;
  }
  
  .header h1 {
    margin: 0;
    font-size: 3rem;
  }
  
  .section {
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .section h2 {
    margin-top: 0;
    padding-top:8px;
    padding-left: 8px;
    padding-bottom:8px;
    background-color: #13294B;
    width: 100%;
    color: white;
    font-family: Gadugi;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  .input-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-field {
    width: 98%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #D7E9F8;

  }

  .contenedorHijo{
    display: flex;
    flex-wrap: wrap;
  }

  .input-field2{
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 2rem;
    background-color:white;
    padding: 8px;
    margin-right: 3rem;
    background-color: #D7E9F8;

  }

  .input-field3{
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color:white;
    width: 12rem;
    padding: 8px;
    margin-right: 3rem;
    background-color: #D7E9F8;

  }
  
  .input-field4{
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color:white;
    width: 18rem;
    background-color: #D7E9F8;
    padding: 8px;
    margin-right: 3rem;
  }

  .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .checkbox-label {
    margin-right: 10px;
  }
  
  .checkbox-input {
    margin-right: 5px;
    background-color: #D7E9F8;
  }
  
  button {
    background-color: #13294B;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
  
  }

  .contenedorBoton{
    width: 100%;
    justify-content: center;
    text-align: center;
}
  
  button:hover {
    transform: scale(1);
    transition: 0.4s ease;
    color: #007bff;
  }
  hr{
    border: solid 1px #007bff;
  }
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  .btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
  .btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
  .btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
  .btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
  .btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
  .btn-primary.active { color: rgba(255, 255, 255, 0.75); }
  .btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
  .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { 
    filter: none;
     background-color: #4a77d4; }
  .btn-block { 
    width: 20%;
     display:block;
     margin: auto;
     margin-left: 20px;
     }
  
  * { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

  
a{
  text-decoration: none;
  color: inherit;
  margin:auto;
  margin-left: 30px;
  color: #fff;
}